@font-face {
    font-family: "Oswald";
    src: url(../assets/fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Oxygen";
    src: url(../assets/fonts/Oxygen-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEF1F6;
    font-family: "Oxygen", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    width: 60%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 8px auto;
    border: 5px solid #FF6F61;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 8px;
}

header .title-subtitle {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
}
main {
    flex-grow: 1;
    background: linear-gradient(to top, #FEABA3, transparent 3%, transparent);

}

footer {
    background-color: #FEABA3;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-content {
    width: 100%;
    display: flex;
}

h1 {
    letter-spacing: 1.5px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.3rem;
    color: #FF6F61;
    margin: 0 auto;
}

h2 {
    font-size: 1.3rem;
    color: #FF6F61;
    margin: 10px
}

.msForm, .loaded-analysis-box {
    border: 1px solid #FF6F61;
    width: 45%;
    margin: 10px auto 10px 20px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.form-field {
    /* border: 1px solid; */
    margin: 15px 30px;
    display: flex;
    flex-direction: column;
}

.form-field #name,
.form-field #tool {
    border: 0.5px solid #FF6F61;
    border-radius: 7px;
    margin: 2px 0;
    height: 30px;
    padding-left: 5px;
}

.form-field input {
    font-family: "Oxygen", sans-serif;
    margin: 4px 0;
  }
  
.run-btn {
    padding: 4px;
    width: 100%;
    border: 0.5px;
    border-radius: 20px;
    background-color: #FF6F61;
    color: white;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
  
.run-btn:hover {
    background-color: #fa4b3b;
}

.window {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* Style pour l'animation de chargement avec le logo */
.window span::before {
    content: url('../assets/icons/logo.png'); /* Utilisez le chemin vers votre logo */
    display: inline-block;
    animation: spinAndScale 2s linear infinite; /* Animation de rotation et de changement de taille */
    margin-right: 12px;
    filter: invert(100%);
}

@keyframes spinAndScale {
    0% { 
        transform: rotate(0deg) scale(0.05); 
    }
    50% {
        transform: rotate(180deg) scale(0.08);
    }
    100% { 
        transform: rotate(360deg) scale(0.05); 
    }
}

.dialog-box {
    display: none;
    position: fixed;
    width: 70%;
    height: 20%;
    background-color: white;
    border: 2px solid #333333;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 2;
}

.dialog-box-content {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

button {
    padding: 4px;
    width: 20%;
    border: 0.5px;
    border-radius: 20px;
    background-color: #FF6F61;
    color: white;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #fa4b3b;
}


.loaded-analysis-box li {
    list-style: inside;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.loaded-analysis-box li:hover {
    background-color: #FFDCE2;
}

.nav-btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}

.loaded-analysis-box button:disabled {
    width: 40%;
    background-color: #A8A8A8;
    cursor: auto;
}

.loaded-analysis-box button {
    width: 40%;
}

.analysis_selected {
    background-color: #FFDCE2; /* Style de fond pour les éléments sélectionnés */
  }

.select-container {
    text-align: center;
    margin: 20px auto; /* Vous pouvez ajuster la marge comme vous le souhaitez */
}

#proteinInput {
    width: 95%;
}


.back-button {
    display: inline-block;
    background-color: transparent;
    transition: opacity 0.3s ease;
}

.back-button img, .forward-button img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


.back-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.protein-sequence-content {
    margin: 20px auto;
}

.protein-sequence {
    background-color: white;
    width: 95%;
    font-size: 1.2rem;
    margin: 20px 15px;
    padding: 8px;
    border: 1px solid #fa4b3b;
    display: none;
}

.coverage-sequence .identified {
    color: #54BE17;
}